{% load static %}
{% load i18n %}

<!-- Featured car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Featured <span>Cars</span></h1>
            <p>Discover our hand-picked selection of quality vehicles.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel"
                data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                
                {% for vehicle in featured_vehicles %}
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="{{ vehicle.url }}" class="car-img">
                                <div class="tag-2">Featured</div>
                                {% if vehicle.has_discount %}
                                <div class="price-box">
                                    <span class="del"><del>${{ vehicle.price|floatformat:0 }}</del></span>
                                    <br>
                                    <span>${{ vehicle.display_price|floatformat:0 }}</span>
                                </div>
                                {% else %}
                                <div class="price-box">
                                    <span>${{ vehicle.display_price|floatformat:0 }}</span>
                                </div>
                                {% endif %}
                                {% if vehicle.primary_image %}
                                <img class="d-block w-100" src="{{ vehicle.primary_image }}" alt="{{ vehicle.title }}">
                                {% else %}
                                <img class="d-block w-100" src="{% static 'assets/img/placeholder-car.jpg' %}" alt="{{ vehicle.title }}">
                                {% endif %}
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        {% if vehicle.gallery_images.all %}
                                        <div class="car-magnify-gallery">
                                            <a href="{{ vehicle.primary_image }}" class="overlap-btn">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{{ vehicle.primary_image }}">
                                            </a>
                                            {% for gallery_image in vehicle.gallery_images.all|slice:":4" %}
                                            <a href="{{ gallery_image.optimized_image_url|default:gallery_image.cloudinary_image_url }}" class="hidden">
                                                <img class="hidden" src="{{ gallery_image.optimized_image_url|default:gallery_image.cloudinary_image_url }}">
                                            </a>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <a class="overlap-btn" href="{{ vehicle.url }}">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{{ vehicle.url }}">{{ vehicle.title }}</a>
                            </h1>
                            <div class="location">
                                <a href="{{ vehicle.url }}">
                                    <i class="flaticon-pin"></i>{{ vehicle.year }} • {{ vehicle.mileage|floatformat:0 }} miles
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <i class="flaticon-engine"></i>{{ vehicle.get_fuel_type_display }}
                                </li>
                                <li>
                                    <i class="flaticon-dashboard"></i>{{ vehicle.get_transmission_display }}
                                </li>
                                <li>
                                    <i class="flaticon-car-seat"></i>{{ vehicle.seats }} Seats
                                </li>
                                <li>
                                    <i class="flaticon-car"></i>{{ vehicle.doors }} Doors
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% empty %}
                <!-- Fallback content when no featured vehicles are available -->
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <div class="no-vehicles-message text-center p-4">
                                <i class="fa fa-car fa-3x text-muted mb-3"></i>
                                <h4>No Featured Vehicles</h4>
                                <p class="text-muted">Featured vehicles will appear here once added.</p>
                                <a href="{% url 'app:cars_list' %}" class="btn btn-primary">Browse All Vehicles</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Slick slider area end -->
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="car-details.html">Lamborghini Huracán</a>
                            </h1>
                            <div class="location">
                                <a href="car-details.html">
                                    <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Petrol</li>
                                <li>4,000 km</li>
                                <li>Manual</li>
                                <li>Sport</li>
                                <li>white</li>
                                <li>2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="car-details.html" class="car-img">
                                <div class="tag-2">Featured</div>
                                <div class="price-box">
                                    <span class="del"><del>$830.00</del></span>
                                    <br>
                                    <span>$940.00</span>
                                </div>
                                <img class="d-block w-100" src="{% static 'assets/img/car/car-6.jpg' %}" alt="car">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">

                                        <div class="car-magnify-gallery">
                                            <a href="{% static 'assets/img/car/car-6.jpg' %}" class="overlap-btn">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{% static 'assets/img/car/car-6.jpg' %}">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-2.jpg' %}" class="hidden">
                                                <img class="hidden" src="{% static 'assets/img/car/car-2.jpg' %}">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-3.jpg' %}" class="hidden">
                                                <img class="hidden" src="{% static 'assets/img/car/car-3.jpg' %}">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-4.jpg' %}" class="hidden">
                                                <img class="hidden" src="{% static 'assets/img/car/car-4.jpg' %}">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-1.jpg' %}" class="hidden">
                                                <img class="hidden" src="{% static 'assets/img/car/car-1.jpg' %}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="car-details.html">Audi Q7 2018</a>
                            </h1>
                            <div class="location">
                                <a href="car-details.html">
                                    <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Petrol</li>
                                <li>4,000 km</li>
                                <li>Manual</li>
                                <li>Sport</li>
                                <li>white</li>
                                <li>2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="car-details.html" class="car-img">
                                <div class="tag-2">Featured</div>
                                <div class="price-box">
                                    <span class="del"><del>$820.00</del></span>
                                    <br>
                                    <span>$980.00</span>
                                </div>
                                <img class="d-block w-100" src="{% static 'assets/img/car/car-5.jpg' %}" alt="car">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{% static 'assets/img/car/car-5.jpg' %}" class="overlap-btn"
                                                data-sub-html="<h4>Toyota Prius Specs</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{% static 'assets/img/car/car-5.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-2.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Lexus GS Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-2.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-3.jpg' %}" class="hidden"
                                                data-sub-html="<h4>2015 Porsche Cayenne</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-3.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-4.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Toyota Corolla</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-4.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-1.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Lamborghini Huracán</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-1.jpg' %}" alt="hidden-img">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="car-details.html">Toyota Prius Specs</a>
                            </h1>
                            <div class="location">
                                <a href="car-details.html">
                                    <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Petrol</li>
                                <li>4,000 km</li>
                                <li>Manual</li>
                                <li>Sport</li>
                                <li>white</li>
                                <li>2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="car-details.html" class="car-img">
                                <div class="tag-2">Featured</div>
                                <div class="price-box">
                                    <span class="del"><del>$740.00</del></span>
                                    <br>
                                    <span>$105.00</span>
                                </div>
                                <img class="d-block w-100" src="{% static 'assets/img/car/car-3.jpg' %}" alt="car">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{% static 'assets/img/car/car-3.jpg' %}" class="overlap-btn"
                                                data-sub-html="<h4>2015 Porsche Cayenne</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{% static 'assets/img/car/car-3.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-2.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Lexus GS Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-2.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-1.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Lamborghini Huracán</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-1.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-4.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Toyota Corolla</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-4.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-5.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Toyota Prius Specs</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-5.jpg' %}" alt="hidden-img">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="car-details.html">2015 Porsche Cayenne</a>
                            </h1>
                            <div class="location">
                                <a href="car-details.html">
                                    <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Petrol</li>
                                <li>4,000 km</li>
                                <li>Manual</li>
                                <li>Sport</li>
                                <li>white</li>
                                <li>2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="car-details.html" class="car-img">
                                <div class="tag-2">Featured</div>
                                <div class="price-box">
                                    <span class="del"><del>$805.00</del></span>
                                    <br>
                                    <span>$780.00</span>
                                </div>
                                <img class="d-block w-100" src="{% static 'assets/img/car/car-2.jpg' %}" alt="car">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{% static 'assets/img/car/car-2.jpg' %}" class="overlap-btn"
                                                data-sub-html="<h4>Lexus GS Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{% static 'assets/img/car/car-2.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-1.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Lexus GS Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-1.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-3.jpg' %}" class="hidden"
                                                data-sub-html="<h4>2015 Porsche Cayenne</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-3.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-4.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Toyota Corolla</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-4.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-5.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Toyota Prius Specs</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-5.jpg' %}" alt="hidden-img">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="car-details.html">Lexus GS Red Car</a>
                            </h1>
                            <div class="location">
                                <a href="car-details.html">
                                    <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Petrol</li>
                                <li>4,000 km</li>
                                <li>Manual</li>
                                <li>Sport</li>
                                <li>white</li>
                                <li>2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="car-details.html" class="car-img">
                                <div class="tag-2">Featured</div>
                                <div class="price-box">
                                    <span class="del"><del>$650.00</del></span>
                                    <br>
                                    <span>$780.00</span>
                                </div>
                                <img class="d-block w-100" src="{% static 'assets/img/car/car-4.jpg' %}" alt="car">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{% static 'assets/img/car/car-4.jpg' %}" class="overlap-btn"
                                                data-sub-html="<h4>Toyota Corolla</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{% static 'assets/img/car/car-4.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-2.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Lexus GS Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-2.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-3.jpg' %}" class="hidden"
                                                data-sub-html="<h4>2015 Porsche Cayenne</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-3.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-1.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Lamborghini Huracán</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-1.jpg' %}" alt="hidden-img">
                                            </a>
                                            <a href="{% static 'assets/img/car/car-5.jpg' %}" class="hidden"
                                                data-sub-html="<h4>Toyota Prius Specs</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{% static 'assets/img/car/car-5.jpg' %}" alt="hidden-img">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="car-details.html">Toyota Corolla</a>
                            </h1>
                            <div class="location">
                                <a href="car-details.html">
                                    <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Petrol</li>
                                <li>4,000 km</li>
                                <li>Manual</li>
                                <li>Sport</li>
                                <li>white</li>
                                <li>2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->
