{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Base{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/bootstrap-submenu.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'static/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/fonts/linearicons/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/dropzone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/lightbox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/jnoty.css' %}">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'static/css/skins/red.css' %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'static/img/favicon.ico' %}" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

    <link rel="stylesheet" type="text/css" href="{% static 'static/css/ie10-viewport-bug-workaround.css' %}">

</head>

<body>
    <div class="page_loader"></div>
    {% include 'app/partials/header.html' %}

    {% block content %}
    {% endblock %}

    <div id="full-page-search">
        <button type="button" class="close">×</button>
        <form action="#" class="search-header">
            <input type="search" value="" placeholder="Type Keyword(s) Here" />
            <button type="submit" class="btn btn-sm button-theme">Search</button>
        </form>
    </div>

    {% include 'app/partials/footer.html' %}
    <script src="{% static 'static/js/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'static/js/popper.min.js' %}"></script>
    <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'static/js/bootstrap-submenu.js' %}"></script>
    <script src="{% static 'static/js/rangeslider.js' %}"></script>
    <script src="{% static 'static/js/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'static/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'static/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'static/js/jquery.scrollUp.js' %}"></script>
    <script src="{% static 'static/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'static/js/dropzone.js' %}"></script>
    <script src="{% static 'static/js/slick.min.js' %}"></script>
    <script src="{% static 'static/js/jquery.filterizr.js' %}"></script>
    <script src="{% static 'static/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'static/js/jquery.countdown.js' %}"></script>
    <script src="{% static 'static/js/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'static/js/lightgallery-all.js' %}"></script>
    <script src="{% static 'static/js/jnoty.js' %}"></script>
    <script src="{% static 'static/js/app.js' %}"></script>
    <script src="{% static 'static/js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'static/js/ie-emulation-modes-warning.js' %}"></script>
</body>
